.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.formNovoLink {
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.novoLinkContainer {
  box-sizing: content-box;
  min-height: 50%;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  border-radius: 5px;
  gap: 2.4rem;
  background-color: #ffffff;
  padding: 3.2rem 2.4rem;
  box-shadow: -2px 0px 1px 0px #0000001f, 2px 0px 1px 0px #0000001f,
    1px 3px 2px 0px #0000001f;
}

.inputContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    width: 100%;

    margin-bottom: 0.8rem;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: left;
  }
  input {
    width: 100%;
    height: 3.4rem;
    padding: 1.6rem 1.4rem;

    font-size: 2rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: left;
  }
  .errorsContainer {
    width: 100%;
    height: 10%;
    .error {
      color: red;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.bttContainer {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  gap: 2.4rem;

  button {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    border: none;
    height: 100%;
    border-radius: 0.3rem;
    padding: 1.4rem 2.4rem;
    text-align: center;
    cursor: pointer;
    width: 20%;
  }
  .bttCancelar {
    border: 1px solid #0078ad;
    color: #0078ad;
  }
  .bttCriarLink {
    background-color: #1082be;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .formNovoLink {
    height: 50%;
  }
  .novoLinkContainer {
    padding: 1.6rem 2.4rem;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .bttContainer {
    flex-direction: column;
    margin-top: 3rem;

    button {
      width: 100%;
    }
  }
  .inputContainer {
    input {
      height: 4rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    height: 100vh;

  }

}
