.headers {
  width: 100%;
  background-color: #4ea73f;
  display: flex;
  justify-content: space-between;
  height: 7.5rem;
  align-items: center;
  padding: 0 5.4rem;
  grid-area: header;
  .ContainersImgHeader {
  }
  .containerUser {
    display: flex;
    align-items: center;
    justify-content: center;
    .imgProfile {
      margin: 0 1.6rem;
    }
    .textUser{
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4rem;
      text-align: left;
      color: white;
    }

  }
}
