.containerCriarLinkPagamento {
  width: 100%;
  border: 1px #1082be dashed;
  display: flex;
  padding: 3.2rem 2.4rem;
  align-items: center;
  column-gap: 2.1rem;
  background-color: #F8F8F8;
}

.link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  color: #333333;
}
