:root {
  font-size: 62.5%;
  --foreground-rgb: 0, 0, 0;
  --background-start: #F2F2F2;
  --background-second: #FFFFFF;

  --primary-color: #4EA73F;

  --secondary-color: #1082BE

  --text-color-primary: #333333;
  --text-color-second:#666666;
  --text-color-white: #1B1E20;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: content-box;
  
}

.container{
  min-height: 100%;
  display: grid;
  grid-template-columns: 0.8fr 2fr; 
  grid-template-rows: auto;
  grid-template-areas: 
  "navbar content";
  
}
.content{
  box-sizing: content-box;
  grid-area: content;
  background-color: rgb(242, 242, 242);
  padding: 32px 50px 32px 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main{
  padding: 20px 50px 20px 32px;
}


/* Media query para mobile e tablet  */
@media (max-width: 1024px) {
  .container {
    display: flex;
   
  }

  .content {
    /* height: 100vh; */
    width: 100%;
    padding: 3.2rem 2rem; 
  }

  .navbar {
    display: none;
  }
}

@media (max-width: 767px) {
  body{
    height: 100vh;
  }
  .content {
    max-height: 100vh;
  }
}